[Desktop Entry]
Version=1.0
Type=Application
Name=Git
GenericName=Git
Comment=Git directories
Icon=folder-github
Exec=/usr/bin/nemo --new-window /storage/git --class git
NoDisplay=false
Categories=Core;FileManager;GNOME;GTK;Utility;
Keywords=folder;manager;explore;disk;filesystem;
MimeType=inode/directory;application/x-gnome-saved-search;
StartupWMClass=git
StartupNotify=true
Terminal=false
DBusActivatable=True
